# 数据分析

In [1]:
import pandas as pd
from ckbqa.dataset.data_prepare import get_raw_data_df

In [2]:
data_df = get_raw_data_df()

In [10]:
data_df.describe()

             question answer                                sparql
count            4000   4000                                  4000
unique           3988   2930                                  3965
top     [科学家牛顿的英文名是？]   <疾病>  select ?x where { <大华股份> <市盈率> ?x. }
freq                3    253                                     3

In [11]:
data_df.head()

,question,answer,sparql
0,[莫妮卡·贝鲁奇的代表作？],<西西里的美丽传说>,select ?x where { <莫妮卡·贝鲁奇> <代表作品> ?x. }
1,[《湖上草》是谁的诗？],<柳如是_（明末“秦淮八艳”之一）>,select ?x where { ?x <主要作品> <湖上草>. }
2,[龙卷风的英文名是什么？],"""Tornado""",select ?x where { <龙卷风_（一种自然天气现象）> <外文名> ?x. }
3,[新加坡的水域率是多少？],"""1.444%""",select ?x where { <新加坡> <水域率> ?x. }
4,[商朝在哪场战役中走向覆灭？],<牧野之战>,select ?x where { <商朝> <灭亡> ?x. }

In [5]:
data_df['q_len'] = data_df['question'].apply(len)
data_df['a_len'] = data_df['answer'].apply(len)

In [7]:
data_df.head()

,question,answer,sparql,q_len,a_len
0,[莫妮卡·贝鲁奇的代表作？],<西西里的美丽传说>,select ?x where { <莫妮卡·贝鲁奇> <代表作品> ?x. },1,10
1,[《湖上草》是谁的诗？],<柳如是_（明末“秦淮八艳”之一）>,select ?x where { ?x <主要作品> <湖上草>. },1,18
2,[龙卷风的英文名是什么？],"""Tornado""",select ?x where { <龙卷风_（一种自然天气现象）> <外文名> ?x. },1,9
3,[新加坡的水域率是多少？],"""1.444%""",select ?x where { <新加坡> <水域率> ?x. },1,8
4,[商朝在哪场战役中走向覆灭？],<牧野之战>,select ?x where { <商朝> <灭亡> ?x. },1,6